In [27]:
!pip install ucimlrepo

Collecting ucimlrepo
  Downloading ucimlrepo-0.0.2-py3-none-any.whl (7.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.2

In [47]:
from ucimlrepo import fetch_ucirepo, list_available_datasets

import requests
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [43]:
list_available_datasets()

-------------------------------------
The following datasets are available:
-------------------------------------
Dataset Name                                                                            ID
------------                                                                            --
Abalone                                                                                 1
Adult                                                                                   2
Auto MPG                                                                                9
Automobile                                                                              10
Breast Cancer                                                                           14
Breast Cancer Wisconsin (Original)                                                      15
Breast Cancer Wisconsin (Diagnostic)                                                    17
Car Evaluation                                                                          19
Credit Approval                                                                         27
Glass Identification                                                                    42
Heart Disease                                                                           45
Ionosphere                                                                              52
Iris                                                                                    53
Letter Recognition                                                                      59
Liver Disorders                                                                         60
Lung Cancer                                                                             62
Mushroom                                                                                73
Optical Recognition of Handwritten Digits                                               80
Spambase                                                                                94
Wine                                                                                    109
Zoo                                                                                     111
Statlog (German Credit Data)                                                            144
Wine Quality                                                                            186
Parkinsons Telemonitoring                                                               189
Bank Marketing                                                                          222
ILPD (Indian Liver Patient Dataset)                                                     225
Thoracic Surgery Data                                                                   277
Diabetes 130-US hospitals for years 1999-2008                                           296
Diabetic Retinopathy Debrecen                                                           329
Heart failure clinical records                                                          519
Rice (Cammeo and Osmancik)                                                              545
Bone marrow transplant: children                                                        565
HCV data                                                                                571
Myocardial infarction complications                                                     579
Dry Bean Dataset                                                                        602
Predict students' dropout and academic success                                          697
Glioma Grading Clinical and Mutation Features                                           759
Sepsis Survival Minimal Clinical Records                                                827
Cirrhosis Patient Survival Prediction                                                   878
SUPPORT2                                                                                880
National Health and Nutrition Health Survey 2013-2014 (NHANES) Age Prediction Subset    887
AIDS Clinical Trials Group Study 175                                                    890
CDC Diabetes Health Indicators                                                          891

In [29]:
cdc_diabetes_health_indicators = fetch_ucirepo(id=891)

In [37]:
covariates = cdc_diabetes_health_indicators.data.features

In [39]:
target = cdc_diabetes_health_indicators.data.targets

In [41]:
covariates.head()

,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,1,1,1,40,1,0,0,0,0,1,...,1,0,5,18,15,1,0,9,4,3
1,0,0,0,25,1,0,0,1,0,0,...,0,1,3,0,0,0,0,7,6,1
2,1,1,1,28,0,0,0,0,1,0,...,1,1,5,30,30,1,0,9,4,8
3,1,0,1,27,0,0,0,1,1,1,...,1,0,2,0,0,0,0,11,3,6
4,1,1,1,24,0,0,0,1,1,1,...,1,0,2,3,0,0,0,11,5,4

In [48]:
covariates.describe()

,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
count,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,...,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000
mean,0.429001,0.424121,0.962670,28.382364,0.443169,0.040571,0.094186,0.756544,0.634256,0.811420,...,0.951053,0.084177,2.511392,3.184772,4.242081,0.168224,0.440342,8.032119,5.050434,6.053875
std,0.494934,0.494210,0.189571,6.608694,0.496761,0.197294,0.292087,0.429169,0.481639,0.391175,...,0.215759,0.277654,1.068477,7.412847,8.717951,0.374066,0.496429,3.054220,0.985774,2.071148
min,0.000000,0.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,1.000000,24.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,...,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,6.000000,4.000000,5.000000
50%,0.000000,0.000000,1.000000,27.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,...,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,8.000000,5.000000,7.000000
75%,1.000000,1.000000,1.000000,31.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,...,1.000000,0.000000,3.000000,2.000000,3.000000,0.000000,1.000000,10.000000,6.000000,8.000000
max,1.000000,1.000000,1.000000,98.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,5.000000,30.000000,30.000000,1.000000,1.000000,13.000000,6.000000,8.000000

In [40]:
target.head()

   Diabetes_binary
0                0
1                0
2                0
3                0
4                0

In [44]:
target.mean()

Diabetes_binary    0.139333
dtype: float64